#!/bin/bash

SIPP=/opt/sipp/

# Accounts list:
USER_ACCOUNTS="sip-example-accounts.csv"

# Remote host/IP:
R_HOST=sipserver.io
R_DOMAIN=testtenant.io
R_PORT=5061

# Local IP/DNS address
L_IP=testserver.io



